.center {
    display: flex;
    justify-content: center;
  }
.center2{
    margin-left: 10%;
}
.slider-bg-1 {
    background-color: #161616;
  }
@media only screen and (max-width: 800px) {
    .center2{
        margin-left: 10%;
    }
}
@media only screen and (max-width: 550px) {
    .center2{
        margin-left: 20%;
    }
}